body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.bg-rect {
  background-color: #b7b7ed;
}

.label {
  color: #fff;
}

.commit {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #865b35;
}
.commit.origin {
  background-color: #0101a3;
}
.commit.local {
  background-color: #760000;
}

.branch {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #0f7248;
}
.branch.remote {
  background-color: #1bd687;
}

.head {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #000;
}
